// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*===== 商品信息区块设置 ======*/
.product-show-box {
  margin-top: 50px;
  text-align: center;
  padding: 0 0 100px 0;

  a {
    color: #666; //连结字体颜色
  }

  /* 图片-鼠标滑动效果 */
  a:hover {
    color: #0070DE !important;
    img {
      opacity: 0.75;
    }
  }

  /* 按钮 */
  .btn {
    background-color: #fff;
    margin: 0 10px 0 10px;
  }

  /* 按钮-鼠标效果 */
  .btn:hover,
  .btn:focus {
    color: #0070DE;
  }

  /* 广告图 */
  .intro-box {
    text-align: center;

    img {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  /* 商品类型 & 品牌选单 */
  .menu-box {
  }

  /* 页面路径 & 排序 */
  .path-sort-box {
    text-align: left;
    height: 20px;

    .left-box {
      float: left; //向左浮动
    }

    .right-box {
      float: right; //向右浮动

      button {
        margin: -15px 0 -15px 0;
        padding: 7.5px 10px 7.5px 10px;
        border: 2px solid #666;
        color: #333;
      }

      button:focus {
        background-color: #fff;
        color: #333;
      }

      ul {
        margin-top: 15px;
      }
    }
  }

  /* 页面左侧：产品图片 */
  .product-image-box {
    text-align: left;

    /* 显示产品图片 - 大图 */
    .main-image {
      margin-bottom: 30px;

      img {
        width: 100%;
        max-width: 700px;
      }
    }

    /* 显示产品图片 - 其他小图 */
    .other-image {
      margin: 0px 0px 10px 0px;

      img {
        width: 90%;
        max-width: 200px;
      }

    }

  }

  /* 页面右侧：产品主要资讯及功能 */
  .product-main-box {
    text-align: left;

    /* 产品标题 */
    .title {
    }

    /* 产品價錢 */
    .price {
    }

    /* 产品规格 */
    .specification{
    }

    .row {
      margin: 0px 5px 0px 5px;

      /* 收藏 */
      .favorite {
        float: left; //向左浮动
      }

      /* 社群分享 */
      .share {
        float: right; //向右浮动
      }

    }

    /* 购买按钮 */
    .purchase {
      text-align: center;
      margin-top: 30px;
    }

    /* 推荐商品 * 3 */
    .recommend {
      text-align: center; //置中

      hr.recommend-title {
        margin: 80px auto 20px auto;
        max-width: 250px;
        border-bottom: 0.5px double #8c8b8b !important;
      }

      hr.recommend-title:after {
        content: "为您推荐";
        display: inline-block;
        position: relative;
        top: -14px;
        padding: 0 10px;
        background: #fff;
        font-size: 18px;
      }

      img {
        margin-top: 20px;
        max-width: 100px;
        max-height: 150px;
      }
    }
  }
}
