<div class="row footer1">
  <footer class="container">
      <ul class="soc-media-ul">
        <li><a href="#" target="_blank">关于我们</a></li>
        <li><a href="#">服务中心</a></li>
        <li><a href="#">支持我们</a></li>
        <li><a href="#">联系我们</a></li>

      </ul>
      <li class="text-center">Copyright ©2019 DJKstore
      <br>Design by
      <a href="" target=_new>zhaochang</a>
  </li>
  </footer>
</div>
